<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>首页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="site_medias/css/common.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="site_medias/js/misc.js"></script>
<script type="text/javascript">
	window.onload=function(){
	waterfall('main','box');
}	
</script>
</head>
<body>

   	<div id="main">
   		{% for good in goods %}
   		<div class="box">
			<div class="pirc">
				<img src="{{ good.imguri }}" />
				<div id="wz">
					<p>{{ good.goodstitle }}</p>
					<p>简介:{{ good.intro }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
   	</div>
</body>

</html>