*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}

#main{position: relative;
		width: 800px;
		margin:0px auto;
	}

.box{padding: 15px 0 0 15px;
		float: left;
	}

.pirc{
	padding:10px;
	border:1px solid #ccc;
	border-radius:5px;          /*CSS3属性，设置边框圆角*/
	box-shadow:0 0 5px #ccc;
}

.pirc img{
	width:200px;
	height:auto;
}

.pirc #wz{
	width: 165px;
	height: auto;
}

.pirc #wz p{
	font-size: 12px;
	color:#cecece;
}

.pirc #wz p a{
	font-size: 15px;
	color: #00cece;
}

#top{
	position: relative;
}